*.iml
.gradle
.idea/
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
digest.txt
/docs/
/smali_analysis/
/baksmali_build/
/test_env/
.vscode/*
/scratch/
/classes7.dex
/KaoriosPatcher-V2.0.4.0.apk
/module_*.zip